.Georgia{
    color: red;
    Font-family: Arial
    border:blue
}

#en{
color: Blueviolet;
Fonr-family : Georgia
border:aqua
}

#ch{
  color: Blueviolet 
  Fonr-family :Georgia
  border:aqua
}

#gi{
   color: Blueviolet 
   Fonr-family : Georgia
   border:aqua
}

